<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Climate Solutions</title>
  
  <link rel="stylesheet" href="/css/custom1.css">
</head>
<body class="bg-base-100">
  
  <!-- Include Navbar Partial -->
  <%- include('partials/navbar', { page: '/about' }) %>

  <div class="container mx-auto">
    <div class="hero mb-10">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold text-blue-400">About</h1>
          <p class="py-6">Everything you want to know about me - the designer & developer.</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div>
        <img src="https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg" alt="My Image" class="rounded-lg shadow-lg"  style="max-width: 100%; height: auto;">
      </div>
      <div>
        <h2 class="text-3xl font-bold mb-5">My name is Muskaan Mahajan and I'm currently studying at Seneca Polytechnic.</h2>
        <p class="mb-4">
            I am passionate about web development, design, and building meaningful projects. I enjoy exploring new technologies and learning how to implement them in real-world applications. Currently, I am working on various exciting projects that focus on combining functionality and aesthetic appeal.

            In my free time, I love painting, reading novels, and playing badminton. I am also interested in solving puzzles and participating in coding challenges. 
        </p>
        My journey so far has been filled with continuous learning and growth, and I am excited about what the future holds.
        <p></p>
      </div>
    </div>
  </div>
</body>
</html>
